

/* estilos "generales" */

body{
    background-color: #000;
}

a{
    text-decoration: none;
}

hr{

    border: none;
    margin: 0 10px;

    border-bottom: var(--borde-ancho-estandar) solid var(--color-divisor-contraste);
    border-radius: var(--borde-redondeado-estandar);
}

.flex{
    display: flex;
}

.align-self-center{
    align-self: center;
}

.aling-content-center{
    align-content: center;
}
.text-align-center{
    text-align: center;
}

.text-white28{
    color: #fff;
    font-size: 28px;
}

.text-white26{
    color: #fff;
    font-size: 26px;
}

.text-white18{
    color: #fff;
    font-size: 18px;
}
.text-white16{
    color: #fff;
    font-size: 16px;
}
.text-white14{
    color: #fff;
    font-size: 14px;
}

.shadow-b-2-2-3{
    text-shadow: 2px 2px 3px #000;
    
}
.shadow-b-0-0-7{
    text-shadow: 0px 0px 7px #000;
}


.barra-porcentaje{
    height: 20px;
}


.img-ajustada-al-padre{
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}





.Background-container{
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: -1;
    top: -150px;
}

.Background-img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;
    
    opacity: linear-gradient(to bottom, 100%, 10%);
}





@media only screen and (max-width: 500px){
    .Background-container{
        display: none;
    }
    .barra-porcentaje{
        height: 20px;
        width: 300px;
    }
}












