
/* cosas generales de las cojas que contiene informacion*/
/* evitar repetir codigo */

.section__skills, .section__job{
    width: 80vw;
    margin: 25px auto;

    
    background: var(--color-encabesado-oscuro);

    border-radius: var(--borde-redondeado-estandar) var(--borde-redondeado-estandar) 0 0;
    border-top: var(--borde-ancho-estandar) solid var(--color-divisor-contraste);

    /* animaciones */
    animation-name: escalarY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.section__skills{
    animation-delay: var(--tiempo-delay-apartado-2);
} 
.section__job{
    animation-delay: var(--tiempo-delay-apartado-3);
}



/* los que contienen las cajas */
.section__skills-container, .section__job-container{
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: space-evenly;

    padding-left: 12px;
    padding-right: 12px;

    background: var(--color-fondo-no-editado);
    overflow: hidden;

    /* animaciones */
    animation-name: escalarY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.section__skills-container{
    animation-delay: calc( (1*var(--tiempo-entre-animacion)) + var(--tiempo-delay-apartado-2));
} 
.section__job-container{
    animation-delay: calc( (1*var(--tiempo-entre-animacion)) + var(--tiempo-delay-apartado-3));
}

.section__skill-item, .section__job-item{
    flex-grow: 0.2;
    /* transform: scaleY(0.1); */
    
    flex-basis: 200px;
    max-width: 200px;
    margin: 5px 12px;

    background: var(--color-contenido-medio);

    border-radius: 0 var(--borde-redondeado-estandar) 0 var(--borde-redondeado-estandar) ;
    border-top: var(--borde-ancho-estandar) solid var(--color-divisor-contraste);
    border-bottom: var(--borde-ancho-estandar) solid var(--color-divisor-contraste);
    
    /* animaciones */
    animation-duration: 1s;
    animation-fill-mode: both;
}
.section__skill-item{
    animation-name: from-left-to-right;
    animation-delay: calc( (2*var(--tiempo-entre-animacion)) + var(--tiempo-delay-apartado-2));
    
} 
.section__job-item{
    animation-name: from-right-to-left;

    animation-delay: calc( (2*var(--tiempo-entre-animacion)) + var(--tiempo-delay-apartado-3));
}





