

/* css donde se le dan estilos especificos a la parte de skills */


.skill-bar-container div:first-child{
    border-radius: 0 var(--borde-redondeado-estandar) 0 0;
}    

.skill-bar-container div:last-child{
    border-radius: 0 0 0 var(--borde-redondeado-estandar);
}




.skill-bar-container h3{
    line-height: 36px;
    text-align: center;
    
    border-radius: 0 var(--borde-redondeado-estandar) 0 0;

    background-color: var(--color-encabesado-medio);
}

.skill-bar-container h4{
    font-size: 16px;
    text-align: center;
    transform: translateY(17px);
}

.skill-bar-container-flex{
    display: flex;
    align-content: center;
    margin: 5px 10px;
    padding: 5px;

    border-bottom: var(--borde-ancho-estandar) solid var(--color-divisor-contraste);

    background: linear-gradient(to top, var(--color-contenido-oscuro), var(--color-contenido-medio));
}


/* icono de las habilidades individuales */
.skills-item-icon{
    flex-shrink: 0;

    color: #fff;
    margin: 0 3px;
    transition: 0.1s;
}

.skills-item-icon:hover{
    transform: var(--simple-zoom-1);
}