:root{
    --color-fondo-no-editado: #111;
    
    --color-encabesado-oscuro:#333;
    --color-encabesado-medio: #444;
    --color-encabesado-claro:#555;

    --color-contenido-oscuro:#444;
    --color-contenido-medio: #555;
    --color-contenido-claro:#888;
    
    --color-divisor-contraste: #0cf;
    --color-divisor-contraste-2: #09c;
    --color-fondo-encabesado:#059;

    --borde-redondeado-estandar: 17px;  
    --borde-ancho-estandar: 3px;
    

    --simple-zoom-05: scaleX(1.05) scaleY(1.05);
    --simple-zoom-1: scaleX(1.1) scaleY(1.1);


    --tiempo-delay-apartado-2: 2s;
    --tiempo-delay-apartado-3: 4s;

    --tiempo-entre-animacion: 0.5s;

    /* colores al alzar */
    --color1:#50a;
    --color2:#0c9;
    --color3:#09c;
    --color4:#ee0;
    --color5:#f70;
}